.todoContainer {
  width: 50%;
  margin: 3rem auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statsHeader {
  width: 100%;
  margin-bottom: 1.5rem;

  display: flex;
  justify-content: space-between;
}

.statsHeader p {
  color: var(--blue-400);
  font-weight: bold;
}

.statsHeader p span {
  padding: 0.25rem 0.5rem;

  background: var(--gray-400);
  color: var(--gray-200);
  border-radius: 8px;

  font-size: 0.75rem;
}

.statsHeader p + p {
  color: var(--purple-400);
}
