.todoForm {
  display: flex;
  justify-content: center;
  margin-top: calc(0px - 1.5rem - 4px);
}

.todoForm input {
  padding: 1rem;
  border-radius: 8px;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  width: 50%;
  margin-right: 0.5rem;
  color: var(--white);
}

.todoForm button[type='submit'] {
  background: var(--blue-400);
  color: var(--white);
  padding: 1rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 8px;
  line-height: 0;
  border: 0;
  transition: background .1s;
  cursor: pointer;
}

.todoForm button[type="submit"]:hover {
    background: var(--blue-700);
}

.todoForm button svg {
  margin-left: 0.5rem;
}
