.todo {
    width: 100%;
    display: flex;
    background: var(--gray-500);
    padding: 1rem;
    border-radius: 8px;
    align-items: center;
}

.todo + .todo {
    margin-top: 1rem;
}

.todo p {
    flex: 1;
    margin: 0 1rem;
    color: var(--gray-100);
}

.todo input[type="checkbox"] {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid var(--blue-400);
    border-radius: 8px;
    display: grid;
    place-content: center;
}

.todo input[type="checkbox"]::before {
    content: "✓";
    text-align: center;
    font-size: .75rem;
    font-weight: bold;
    color: var(--gray-100);
    width: calc(1rem + 2px);
    height: calc(1rem + 2px);
    transform: scale(0);
    box-shadow: inset 1rem 1rem var(--purple-400);
    border-radius: 16px;
}

.todo input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.todo:has(input[type="checkbox"]:is(:checked)) {
    opacity: .5;
}

.todo:has(input[type="checkbox"]:is(:checked)) p {
    text-decoration: line-through;
    color: var(--gray-300);
}
